{% extends "base.html" %}

{% block content %}
  <h2>Reservaciones por sucursal</h2>

  {% if reservaciones %}
    <table border="1">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Sucursal</th>
          <th>Mesa</th>
          <th>Fecha</th>
          <th>Personas</th>
        </tr>
      </thead>
      <tbody>
        {% for reserva in reservaciones %}
          <tr>
            <td>{{ reserva.cliente.usuario.email }}</td>
            <td>{{ reserva.mesa.sucursal.nombre }}</td>
            <td>{{ reserva.mesa.nombre }}</td>
            <td>{{ reserva.fecha }}</td>
            <td>{{ reserva.num_personas }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay reservaciones.</p>
  {% endif %}
{% endblock %}
